<link rel="stylesheet" type="text/css" href="/css/aside.css">

<div class="aside">
    <div class="aside-content">
        <div id="aside-posts" class="">
            <div class="aside-header">
            <span class="img-autor"></span> 
            <section class="autor-info">           
                <span class="autor">felipeollveira</span>
            </section> 

       
            <div class="dropdown">
                <span class="arrow-down"></span>
                <div class="dropdown-content">
                    <h2 class="dropdown-title">Acompanhe outro insider!</h2>
                    <a href="#">Mark zuckberg</a>
                  
                </div>
            </div>

          
        </div>
        </section>
        <div class="aside-actions">

        <section class="actions">
            <p style="margin-bottom: 2px;">Frase do dia</p>
            <blockquote>Agora que começou, termine!</blockquote>
        </section>

        <section class="actions">
        <ul>
            <li>Qual meu IMC?</li>
            <li>Faça seu próprio sorteio eletrônico</li>
            <li>Modelo de Trabalho ABNT 2023</li>
            <li>Modelo de Curriculo profissional</li>
            <li>Hiper secreto app de anotações</li>
            <li>Divulgue sua marca</li>
            <li>Sua mémoria é boa?</li>

        </ul>
    </section>

    <section class="actions">
        <ul>
            <li>Trabalhe conosco</li>
            <li>Sobre nós</li>
        </ul>
    </section>

    
</div>
</div>
</div>