<link rel="stylesheet" type="text/css" href="/css/footer.css">

<section class="footer">
<p>Inscreva-se para receber nossas atualizações por email:</p>
    <form>
        <input type="email" placeholder="Seu endereço de email">
        <input type="submit" value="Inscrever-se">
    </form>
</section>


