<link rel="stylesheet" type="text/css" href="/css/nav.css">
<link rel="stylesheet" type="text/css" href="/css/mode-light.css">
<nav>
    <div class="nav">
        <div class="container_nav">
            <section>
                <span class="name_blog">ollveira's blog</span>
         
                <!-- <input type="checkbox" class="mode-light" disabled>
            -->
            </section>
            
            <form id="masthead-search" method="" >
                <input type="search" id="search" autocomplete="off" name="s" aria-labelledby="search-label" placeholder="Search&hellip;" class="draw" disabled>
            </form>        
        </div>
    </div>
</nav>

<div id="searchResults">
    <!-- Aqui serão exibidos os resultados da pesquisa -->
</div>