

<div class="l-card"><!--
	<section class="l-card__text">
		<p>
			Projeto em Node js usando api do google.
		</p>
	</section>
	<section class="l-card__user">
		<div class="l-card__userImage">
			<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fblog.nevercodealone.de%2Fwp-content%2Fuploads%2F2020%2F10%2Fnodejs-logo-1024x512.png&f=1&nofb=1&ipt=85410c44a48b98fc4c2a7b51f213137d9c6b892ccd18c31b89fb5c1f00de5a57&ipo=images" alt="tech">
		</div>
		<div class="l-card__userInfo">
			<span>NODEJS</span>
			<span>28/10/2023</span>
		</div>
	</section>
	 -->
</div>
  

 

  
 
 
