
.menu{
    display:contents;

}



@media screen and (min-width: 0px) and (max-width: 640px) {
    .aside-header{
        text-align: center;
        justify-content: center;
        justify-items: center;

        width: 100%;
    }

  }

  
.menu div{
}

.actions {
    padding: 12px;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--cor-borda);
    background-color: var(--background-fl);
    margin-bottom: 10px;

}

.actions:nth-child(2) {
    max-height: 150px;
    overflow-y: auto;
}

.actions p {
    color: rgb(139, 139, 139);
    text-align: left;
}


.aside-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: max-content;
    padding-bottom: 5px;
}


.aside-header {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: flex-start;
    justify-items: center;
    justify-content: left;
    padding-bottom: 5px;
    padding-right: 6px;
    gap: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.098);
    margin-bottom: 4px;    
   }


.autor-info {
    display: flex;
    width: auto;
    flex-direction: row;

}

.autor {
    color: #3366cc;
    font-size: 10pt;
    justify-content: flex-end;
}

.img-autor {
    display: block;
    flex-shrink: 0;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 1rem;
    object-fit: cover;
    background-color: royalblue;
}

blockquote {
    font-size: 12px;
    color: #555;
}

.aside h1 {
    font-size: 12pt;
    color: #3366cc;
    font-style: italic;
    margin-bottom: 10px;
}

.aside ul {
    display: grid;
    gap: 6px;
    list-style: square;
    padding: 0;
    margin: 0;
    padding-left: 10px;
    line-height: 0.50rem;
}

.aside li {
    font-size: 12px;
    color: var(--colorsystem);
    cursor: pointer;
    padding: 2px;
    line-height: 12px;
    transition: text-decoration 0.3s;
}
a{
    color: none;
    text-decoration: none;
    border: none;
    color: var(--colorsystem);
}

.aside li:hover {
    text-decoration: underline;
}

.dropdown {
    display: inline-block; 
    cursor: pointer;
    width: auto;
}

.dropdown-title {
    font-size: 8pt;
    color: #696969;
}

.dropdown-acc{
    z-index: 1000;
    opacity: 1.0;
    display: grid;
    background-color: var(--background);
    border: 1px solid var(--cor-borda);
    font-size: 10pt;
    position: absolute;
    left: 0%;
    color: rgb(148, 148, 148);
    width:auto ;
    top: 0%;
}

.aside-actions{
    transition: opacity 0.2s ease-in-out; 
}

.dropdown-acc-content div span{
    overflow-y: auto;
    height: 6px;
}

#dropdown-acc{
    display: none;
}

.visibility-05 {
    opacity: 0.5;
  }



.dropdown-acc p{
    padding: 8px;
    text-align: left;
    cursor:default;
}
.dropdown-acc div div:hover{
    background-color: rgba(255, 255, 255, 0.021);
}

.dropdown-acc section{
    display: grid;
    grid-template-columns: 85% auto;
    align-items: center;
    border-radius: 4px;
    background-color: #1d1d1d;
    font-weight: 400;
    padding: 6px;
    text-align: left;
    border-bottom: 1px solid var(--cor-borda);
    color: rgba(224, 224, 224, 0.411);
}

.dropdown-acc section span input{
    background-color: transparent;
    width: 100%;
    text-decoration: none;
    border: 0;
    color: white;
}
.dropdown-acc section span input:focus{
outline: 0;
border: 0;
}

.dropdown-acc section span:last-child{
    color: rgba(255, 255, 255, 0.548);
    text-align: right;
    padding: 2px;
    font-weight: 100;
    cursor: pointer;
}

.dropdown-acc div span div{
    display: flex;
    align-items: center;
}

.dropdown-acc div span div{
    padding: 0px 4px 0px 6px;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: var(--background-fl);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    transform: translateX(-80px);
    border: 1px solid var(--cor-borda); 
}



.arrow-down {
    display: inline-block;
    transition-delay: 100ms;
    transition-duration: 300ms;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #333;
    margin-left: -3px;
    transform-origin: center;
}

.dropdown-content a {
    border-top: 1px solid var(--cor-borda);
    color: #555555;
    width: max-content;
    padding: 8px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
    font-size: 8pt;
}
