
.menu{
    display:contents;

}





@media screen and (min-width: 0px) and (max-width: 640px) {
    .aside-header{
        text-align: center;
        justify-content: center;
        justify-items: center;

        width: 100%;
    }
    .aside{
        position:relative;
    }

  }

  @media screen and (min-width:969px) and (max-width: 3500px) {
    .aside{
        position:fixed;
    }

  }

.actions {
    padding: 12px;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--cor-borda);
    background-color: var(--background-fl);
    margin-bottom: 10px;

}

.actions ul li{
    width: 200px;
    line-height: 16px;
}

.actions:nth-child(2) {
    max-height: 150px;
    overflow-y: auto;
}

.actions p {
    color: rgb(139, 139, 139);
    text-align: left;
}


.aside-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: max-content;
    padding-bottom: 5px;
}


.aside-header {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: left;
    padding-bottom: 5px;
    padding-right: 6px;
    gap: 0px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0);
    margin-bottom: 4px;    
   }


.autor-info {
    display: flex;
    width: auto;
    flex-direction: row;

}

.autor {
    color: var(--colorsystem);
    font-size: 10pt;
    justify-content: flex-end;
}

.img-autor {
    display: block;
    flex-shrink: 0;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 1rem;
    object-fit: cover;
    background-color: var(--colorsystem);
}

blockquote {
    font-size: 12px;
    color: #555;
}

.aside h1 {
    font-size: 12pt;
    color: #3366cc;
    font-style: italic;
    margin-bottom: 10px;
}

.aside ul {
    display: grid;
    gap: 6px;
    list-style: square;
    padding: 0;
    margin: 0;
    padding-left: 10px;
    line-height: 0.50rem;
}

.aside li {
    font-size: 12px;
    color: var(--colorsystem);
    cursor: pointer;
    padding: 2px;
    line-height: 12px;
    transition: text-decoration 0.3s;
}
a{
    color: none;
    text-decoration: none;
    border: none;
    color: var(--colorsystem);
}

.aside li:hover {
    text-decoration: underline;
}


.visibility-05 {
    opacity: 0.4;
    pointer-events: none;
  }


.selectProfile{
    color: rgb(145, 145, 145);
    background-color: transparent;
    width: auto;
    border: none;
    border-radius: 0;
    padding: 2px;
    font-size: 10pt;
}


.selectProfile:focus{
    border: none;
    outline: 0;
}

.selectProfile option{
    background-color: var(--background);
    padding: 18px;
    text-align: left;
    cursor:default;
    border-radius: 0;
}
