.case-not-post{
    width: 90vh;
    display: none;
}

.no-post{
    color: rgb(37, 37, 37);
    font-size: 30pt;
    font-weight: 400;
    text-align: right;

}

.news {
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
    min-width: 300px;


}

.name{
    text-decoration: none;
    margin-left:auto;
}

.card {
    display: grid;
    max-width: 400px;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--cor-borda);
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: var(--background-fl);
}
  
  .header {
    display: flex;
    justify-content: space-between;
    grid-gap: 1rem;
    gap: 1rem;
  }
  
  .title {
    font-size: 1.125rem;
    line-height: 1.25rem;
    font-weight: 700;
    color: var(--cor-h1);
    text-decoration: none;
    width: 100%;
  }
  
  .title:hover {
    text-decoration: underline rgb(170, 170, 170);
  }
  
  .name {
    margin-top: 0.25rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
    width: 50%;
    text-align: right;
    color: rgba(75, 85, 99, 1);
  }
  
  .image {
    display: block;
    flex-shrink: 0;
    height: 3rem;
    width: 3rem;
    border-radius: 0.5rem;
    object-fit: cover;
    background-color: royalblue;
  }
  
  .description {
    margin-top: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(107, 114, 128, 1);
    height: auto;
    text-align: justify;
  }
  
  .post-info {
   margin-top: 8%;
    display: flex;
    grid-gap: 1rem;
    gap: 1rem;
    border-top: 1px solid rgb(29, 29, 29);
  }
  
  .cr {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 5px;
  }
  
  .dt {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    color: rgba(75, 85, 99, 1);
  }
  
  .dd {
    
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(107, 114, 128,1);
  }