

.news {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  width: auto;

}

.layout-icon img{
  filter: invert();
  height: 16px;
  padding: 5px;
  cursor: pointer;
  transition-duration: 220ms;
  transition-delay: 40ms;
}
/* ICONE DE MUDANÇÃ DE LAYOUT */
.layout-icon{
  height: auto;
  display: none;
  align-items: center;
  justify-content: end;
}

.grid-layout-cards{
  display: flex;
  flex-direction: column;
  gap: 1%;
}



.name{
  text-decoration: none;
  margin-left:auto;
}

.card {
  display: grid;
  grid-template-rows: repeat(3, 1fr); 
  height: 200px;
max-width:500px;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--cor-borda);
  border-radius: 0.5rem;
  padding: 1.5rem;
  background-color: var(--background-fl);
}


.header {
  display: flex;
  justify-content: space-between;
  grid-gap: 1rem;
  gap: 1rem;
  width: 100%;
  cursor: pointer;
  align-items: center;
}

.title {
  font-size: 1.125rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: var(--cor-h1);
  text-decoration: none;
  width: auto;
}

.header:hover .title {
  text-decoration: underline rgb(170, 170, 170);
}

/* nome do autor se quiser */
.name {
  margin-top: 0.25rem;
  font-size: 0.75rem;
    font-weight: 500;
  width: 10%;
  text-align: right;
  color: rgba(75, 85, 99, 1);
}

.image {
  display: block;
  flex-shrink: 0;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 0.5rem;
  object-fit: cover;
  border: 1px solid var(--colorsystem);

}

.caseImage{
  display: block;
  flex-shrink: 0;
  height: 3rem;
  width: 3rem;
  border-radius: 0.5rem;
  object-fit: cover;
  background-color: royalblue;
}

.description {
  font-size: 0.8rem;
  line-height: 1.25rem;
  color: rgba(107, 114, 128, 1);
  height: auto;
  margin-top: 6px;
  text-align: justify;
  width: 100%;
  overflow: auto;
}


.post-info {
 margin-top: 4%;
  display: flex;
  grid-gap: 1rem;
  gap: 1rem;
  border-top: 1px solid rgb(29, 29, 29);
}

.cr {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 10px;
  
}

.dt {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: rgba(75, 85, 99, 1);
}


.dd {
  
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(107, 114, 128,1);
}


@media screen and (min-width: 769px) {
  .new{
    display: grid;
    grid-template-columns: auto;
    flex-direction: column;
    margin-left: 6px;

  }
  .news{
    display: grid;
    grid-template-columns: auto auto;
    flex-direction: column;

  }
  

}



@media screen and (min-width: 641px) and (max-width: 768px) {
  .news{
    display: grid;
    grid-template-columns: 50% 50%;
    flex-direction: column;
    align-items: center;
  }
  .card{
    min-width: 50%;
    max-width: auto;
  }
  .title{
    font-size: 16pt;
  
    }
    .header{
      display: flex;
      flex-direction: row;
      gap: 0;
      width: auto;
    }




}

@media screen and (min-width: 0px) and (max-width: 760px) {
  .news{
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
  }
  .card{
    max-width: max-content;
  }


}
