/* Estilo para o nav na versão desktop */
nav {
	background: linear-gradient(0deg, rgba(0,19,113,0) 0%, rgba(0, 0, 0, 0.61) 100%);
	width: 100%;
    position: fixed;
	top: 10;
    z-index: 100;
	transition: top 0.3s ease-in-out;

  }

  .container_nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 6px;
	margin-left: 2%;
	margin-right: 4%;

  }
  
  .name_blog {
	color: white;
	font-size: 14pt;
	font-weight: bold;
  }
  
  #masthead-search {
	display: flex;
	align-items: center;
  }
  
  input[type="search"] {
	padding: 6px;
	border: none;
	border-radius: 5px;
	width: 250px;
	color: whitesmoke;
	font-size: 14px;
	background: none;
	border: 1px solid rgba(128, 128, 128, 0.249);
	z-index: 1;
	background-color: rgba(10, 10, 10, 0.449);
  }
  input[type="search"]:hover nav{
background-color: rgb(10, 10, 10);
  }

  input[type="search"]:focus nav{
    background: rgba(0, 0, 0);
}



  
  /* Estilos responsivos */
  @media screen and (max-width: 500px) {
	.container_nav {
	  flex-direction: column;
	  gap: 10px;
	  text-align: center;
	}
  
	input[type="search"] {
	  width: 100%;
	}
  
	button[type="submit"] {
	  margin-left: 0;
	}
  }
  

