--colorfooter: rgb(43, 43, 43);
    --colorsystem: rgb(48, 82, 154);
    --cor-h1: rgb(213, 213, 213);
    --background: #181818;
    --background-fl:rgba(26, 26, 26, 0.548);
    --cor-borda: rgba(19, 19, 19, 0.843);
    --bs-font-sans-serif: 'Proxima Nova', sans-serif