
/* @import url('https://fonts.googleapis.com/css?family=Proxima+Nova'); */

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proximanova/Proxima.ttf');
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background-color: #f1f1f100;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #9393930a;
    border-radius: 2px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #5555551f;
  }
  

:root {
    --colorfooter: rgb(43, 43, 43);
    --colorsystem: rgb(48, 82, 154);
    --cor-h1: rgb(213, 213, 213);
    --background: rgb(12, 12, 12);
    --background-fl:rgba(17, 17, 17, 0.548);
    --cor-borda: rgba(42, 42, 42, 0.843);
    --bs-font-sans-serif: 'Proxima Nova', sans-serif
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--bs-font-sans-serif);
    font-weight: 700;
}

body{
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    gap: 50px;

}

aside{
    position: sticky;
    top: 70px;
    height: max-content;
    overflow: hidden;

}

.home-grid{
    display:inline-flex;
    justify-content: space-evenly;
    grid-template-columns: 85% auto;
    flex-direction: row-reverse;
    padding: 10px;

}

main{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

footer{
    margin-bottom: 10px;
    max-width: auto;
}

.main-footer{
    display: grid;
    gap: 50px;
}

.head{
    background-color: rgb(2, 2, 2);
    padding: 10px;
    color: white;
    display: flex;
    font-size: 10pt;
    gap: 50%;
}

@media screen and (max-width: 768px) {
    .home-grid{
        display: flex;
        flex-direction: column-reverse;
        gap: 2px;
        align-content: center;
    }
    .home-grid-mobile{
        display: flex;justify-content: center;
        flex-direction: column-reverse;
        gap: 20px;
    }

    aside{
        padding-top: 14px;
        position:static;
    }
}


@media screen and (min-width: 769px) and (max-width: 767px) {
    .home-grid{
        display: flex;
    grid-template-columns: 90% 10%;
    flex-direction: row-reverse;
    padding: 10px;
    gap: 20px;
    }
  

}




/* loading */

#loading {
	display: flex;
	align-items: center;
	justify-content: center;
    align-content: center;
    justify-items: center;
    position: absolute;
    top: 0%;
    left: 0%;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

#loading-spinner {
	border: 4px solid #f3f3f3;
	border-top: 4px solid var(--colorsystem);
	border-radius: 50%;
	width: 40px;
	height: 40px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* Estilos para o conteúdo após o carregamento */
body.loaded {
	opacity: 1;
	transition: opacity 1s ease-in-out;
}

