
@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');
:root {
    --colorsystem: rgb(48, 82, 154);
    --cor-h1: rgb(213, 213, 213);
    --background: rgb(12, 12, 12);
    --background-fl:rgba(17, 17, 17, 0.548);
    --cor-borda: rgba(42, 42, 42, 0.843);
    --bs-font-sans-serif: 'Proxima Nova', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--bs-font-sans-serif);
    font-weight: 700;
}

body{
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    gap: 50px;

}

aside{
    position: sticky;
    top: 70px;
    height: 10px;
}

.home-grid{
    display: flex;
    grid-template-columns: 85% auto;
    flex-direction: row-reverse;
    padding: 10px;
    gap: 1%;
}

main{
    padding: 10px;
}

footer{
    margin-bottom: 50px;
}


.head{
    background-color: rgb(2, 2, 2);
    padding: 10px;
    color: white;
    display: flex;
    font-size: 10pt;
    gap: 50%;
}

/* loading */

#loading {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

#loading-spinner {
	border: 4px solid #f3f3f3;
	border-top: 4px solid #3498db;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* Estilos para o conteúdo após o carregamento */
body.loaded {
	opacity: 1;
	transition: opacity 1s ease-in-out;
}