<!DOCTYPE html>
<html lang="pt/br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include('../partials/head'); %>
    <link rel="stylesheet" type="text/css" href="/css/cards.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Proxima+Nova">
    <link rel="icon" type="image/png" href="https://bluetilebakery.com/wp-content/uploads/2020/04/BlueTileBakeryLogo_Favicon.png">
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main style="display: none;">
    <div id="loading">
        <div id="loading-spinner"></div>
    </div>

    <div class="home-grid" id="grid">
        <article class="case-not-post" id="no-post"></article>
    <div class="main-footer">
        <div class="news" id="root"></div>
        
        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </div>
    <aside>
        <%- include('../partials/aside'); %>
    </aside>
    </div>
</main>



<script type="text/javascript" src="static/js/animacoes.js"></script>
<script type="text/javascript" src="static/js/cards.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        setTimeout(function() {
        document.body.classList.add('loaded');

        document.querySelector('main').style.display = 'block';

        // Remove o elemento de loading
        var loadingElement = document.getElementById('loading');
        loadingElement.parentNode.removeChild(loadingElement);
    }, 500);
    });
</script>
</body>


</html>

